<%- include('header') %>

<main class="mainContainer">

  <div class="pokemons--container">
    <% for (const pokemon of pokemons) { %>
    <div class="pokemon--card">
      <a href="/pokecard/<%= pokemon.id %>">
        <img class="poke-picture" src="<%= pokemon.image %>" alt="<%= pokemon.name %> illustration">
        <p class="poke-name"><%= pokemon.name %></p>
      </a>
    </div>
    <% } %>
  </div>

</main>

<%- include('footer') %>