<%- include('header') %>

<main class="mainContainer">

  <form id="search-form" action="/pokelist/filter" method="post">
    <label for="type-input">Type :</label>
    <select id="type-input" name="pokeType">
      <option value=null>-- Sélectionnez un type --</option>
      <% for (const type of types) { %>
      <option value="<%= type.name %>"> <%= type.name %> </option>
      <% } %>
    </select>
    <button type="submit">Rechercher</button>
  </form>
  <% if (selectType === 'null') {
    selectType = null;
  } %>
  <% if (selectType && selectType !== null ) { %>
  <h2><%= selectType %></h2>
  <% } %>

  <div class="pokemons--container">
    <% for (const pokemon of pokemons) { %>
    <div class="pokemon--card">
      <a href="/pokecard/<%= pokemon.id %>">
        <img class="poke-picture" src="<%= pokemon.image %>" alt="<%= pokemon.name %> illustration">
        <p class="poke-name"><%= pokemon.name %></p>
      </a>
    </div>
    <% } %>
  </div>

</main>

<%- include('footer') %>