<%- include('header') %>

  <main class="pokecard-container">
    <h1 class="pokecard-title">
      <%= pokemon.name %>
    </h1>
    <div class="pokecard-picture">
      <img src="<%= pokemon.image %>" alt="image de <%= pokemon.name %> ">
    </div>
    <p class="tooltip-text"></p>
    <div class="pokecard-types">
      <% pokemon.apiTypes.forEach(type=> { %>
        <img class="pokecard-types-img" src="<%= type.image %>" tag="<%= type.name %>" alt="type-logo">
        <% }) %>
    </div>
    <div class="pokecard-infos">
      <p> Nom : <%= pokemon.name %>
      </p>
      <p> PVs : <%= pokemon.stats.HP %>
      </p>
      <p> Attaque : <%= pokemon.stats.attack %>
      </p>
      <p> Defense : <%= pokemon.stats.defense %>
      </p>
      <p> Attaque spé : <%= pokemon.stats.special_attack %>
      </p>
      <p> Defense spé : <%= pokemon.stats.special_defense %>
      </p>
      <p> Vitesse : <%= pokemon.stats.speed %>
      </p>
    </div>
  </main>

  <%- include('footer') %>