<%- include('header') %>

<main class="mainContainer">

  <form class="poke-type-form" id="search-form" action="/pokelist/filter" method="post">
    <select class="poke-type-form-select" id="type-input" name="pokeType">
      <option value=null>-- Sélectionnez un type --</option>
      <% for (const type of types) { %>
      <option value="<%= type.name %>"> <%= type.name %> </option>
      <% } %>
    </select>
    <button class="poke-type-form-submit-button" type="submit">Rechercher</button>
  </form>
  <% if ( filterValue && filterValue !== 'null' ) { %>
  <div class="select-type-popup">
    <img class="select-type-img" src="<%= typeFiltered.image %>" alt="poke-type-logo">
    <h2 class="select-type-title"><%= typeFiltered.name %></h2>
    <img class="select-type-close-button" src="/img/icons-front/close-button.png" alt="close-button">
  </div>
  <% } %>

  <div class="pokemons--container">
    <% for (const pokemon of pokemons) { %>
    <div class="pokemon--card">
      <a href="/pokecard/<%= pokemon.id %>">
        <img class="poke-picture" src="<%= pokemon.image %>" alt="<%= pokemon.name %> illustration">
        <p class="poke-name"><%= pokemon.name %></p>
      </a>
    </div>
    <% } %>
  </div>

</main>

<%- include('footer') %>